<p id="notice"><%= notice %></p>

<h3>My Profile</h3>
<div class="align">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
    <% if current_user.id == profile.user_id %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.address %></td>
        <td><%= profile.phone %></td>
        <td> <% if profile.avatar.attached? %>
  <%= image_tag profile.avatar, class: 'image-size' %>
<% else %>
  <p>No avatar for this user</p>
<% end %>    
        </td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
</div>