<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_from %>
    <%= form.date_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :date_to %>
    <%= form.date_select :end_time %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :motorhome_id %>
    <% motorhomes_array = Motorhome.where(user_id: current_user.id).map { |motorhome| [motorhome.make, motorhome.id] } %>
    <%= form.select :motorhome_id, options_for_select(motorhomes_array) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
