<p id="notice"><%= notice %></p>

<div class="align">
<h3>Your Listings</h3>
<table>
  <thead>
    <tr>
      <th>Date from</th>
      <th>Date to</th>
      <th>Price</th>
      <th>Motorhome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <% if current_user.id == listing.motorhome_id %>   
      <tr>
        <td><%= listing.start_time %></td>
        <td><%= listing.end_time %></td>
        <td><%= listing.price %></td>
        <td><%= listing.motorhome.make %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
</div>