<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= link_to @listing.motorhome.user.profile.name, @listing.motorhome.user.profile %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @listing.start_time %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @listing.end_time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Make:</strong>
  <%= @listing.motorhome.make %>
</p>
<p>
  <strong>Model:</strong>
  <%= @listing.motorhome.model %>
</p>
<p>
  <strong>Year:</strong>
  <%= @listing.motorhome.year %>
</p>

<p>
  <strong>Motorhome:</strong>
  <%= image_tag @listing.motorhome.uploaded_image %>
</p>
<br>

<%= month_calendar events: @listings do |date, listings| %>
  <%= date %>

  <% listings.each do |listings| %>
    <div>
      <%= listings.motorhome.make %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
