<% if @listing.motorhome.user != current_user %>
  <%= render partial: 'claims/form', locals: {claim: Claim.new, listing: @listing} %>
<% end %>

<div class="align">
  <p>
    <%= image_tag @listing.motorhome.uploaded_image, class: 'profile' %>
  </p>
</div>

<p>
  <%= image_tag @listing.motorhome.user.profile.avatar, class: 'avatarsmall' %><%= link_to @listing.motorhome.user.profile.name, @listing.motorhome.user.profile %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @listing.start_time %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @listing.end_time %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @listing.price %>
</p>

<p>
  <strong>Make:</strong>
  <%= @listing.motorhome.make %>
</p>
<p>
  <strong>Model:</strong>
  <%= @listing.motorhome.model %>
</p>
<p>
  <strong>Year:</strong>
  <%= @listing.motorhome.year %>
</p>

</div>
<div class="align">

<%= month_calendar events: @listings do |date, listings| %>
  <%= date.day %>

  <% listings.each do |listing| %>
    <% if listing.id == @listing.id %>
    <div>
      <%= image_tag @listing.motorhome.uploaded_image, class: 'avatar' %>
      $<%= @listing.price %>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>
<div>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
</div>
