<div class="align">
<p>
  <%= image_tag @listing.motorhome.uploaded_image %>
</p>
</div>
<div class="align">
<p>
  <%= image_tag @listing.motorhome.user.profile.avatar, class: 'avatarsmall' %><%= link_to @listing.motorhome.user.profile.name, @listing.motorhome.user.profile %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @listing.start_time %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @listing.end_time %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @listing.price %>
</p>

<p>
  <strong>Make:</strong>
  <%= @listing.motorhome.make %>
</p>
<p>
  <strong>Model:</strong>
  <%= @listing.motorhome.model %>
</p>
<p>
  <strong>Year:</strong>
  <%= @listing.motorhome.year %>
</p>

</div>
<div class="align">

<%= month_calendar events: @listings do |date, listings| %>
  <%= date %>

  <% listings.each do |listings| %>
    <% if current_user.id == listings.user_id %>
    <div>
      <%= listings.motorhome.make %>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>
<div>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
</div>
