<p id="notice"><%= notice %></p>

<p>
  <strong>Date from:</strong>
  <%= @listing.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @listing.date_to %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Make:</strong>
  <%= @listing.motorhome.make %>
</p>
<p>
  <strong>Model:</strong>
  <%= @listing.motorhome.model %>
</p>
<p>
  <strong>Year:</strong>
  <%= @listing.motorhome.year %>
</p>

<p>
  <strong>Motorhome:</strong>
  <%= image_tag @listing.motorhome.uploaded_image %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
