<div class="align">
  <h3 align="center">
    <%= image_tag @listing.motorhome.uploaded_image, class: 'profile' %>
    <br><br>
    <%= @listing.motorhome.make %> <%= @listing.motorhome.model %>
  </h3>
</div>
  <div class="align">
    <h4>$<%= @listing.price %> per day</h4>
  </div>
<div class="align">
<% if @listing.motorhome.user != current_user %>
  <% if Claim.exists?(user: current_user, listing: @listing) %>
    You Have Made A Booking For This Listing
  <% else %>
    <%= render partial: 'claims/form', locals: {claim: Claim.new, listing: @listing, status: false} %>
  <% end %>
<% else %>
  <% if Claim.exists?(listing: @listing) %>
    Users who have made a booking;
    <div class="align">
    <table>
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% if Claim.exists?(approved: true) %>
          <% claim = Claim.where(approved: true).first %>
          <tr>
            <td><% if claim.user.profile.avatar.attached? %>
              <%= image_tag claim.user.profile.avatar, class: 'avatar' %>
            <% else %>
              <p>No avatar for this user</p>
            <% end %></td>
            <td><%= link_to claim.user.profile.name, claim.user.profile %></td>
            <td><%= claim.user.profile.address %></td>
            <td><%= claim.user.profile.phone %></td>
            <td>I Have Booked This Listing!</td>
          </tr>
        <% else %>
          <% @claims.each do |claim| %>
            <tr>
              <td><% if claim.user.profile.avatar.attached? %>
                <%= image_tag claim.user.profile.avatar, class: 'avatar' %>
              <% else %>
                <p>No avatar for this user</p>
              <% end %></td>
              <td><%= link_to claim.user.profile.name, claim.user.profile %></td>
              <td><%= claim.user.profile.address %></td>
              <td><%= claim.user.profile.phone %></td>
              <td><%= link_to 'Reject', claim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= link_to 'Approve', claim_path(claim: {listing_id: claim.listing.id, user_id: claim.user.id, approved: true}, id: claim.id), method: :patch, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    </div>
  <% else %>
    No Bookings
  <% end %>
<% end %>
</div>
<div class="align">
<p>
  <%= image_tag @listing.motorhome.user.profile.avatar, class: 'avatarsmall' %><%= link_to @listing.motorhome.user.profile.name, @listing.motorhome.user.profile %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @listing.start_time %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @listing.end_time %>
</p>

<p>
  <strong>Year:</strong>
  <%= @listing.motorhome.year %>
</p>

<p>
  <strong>Length:</strong>
  <%= @listing.motorhome.length %> feet
</p>
<p>
  <strong>Beds:</strong>
  <%= @listing.motorhome.beds %> 
</p>
</div>
<div class="align">

<%= month_calendar events: @listings do |date, listings| %>
  <%= date.day %>

  <% listings.each do |listing| %>
    <% if listing.id == @listing.id %>
    <div>
      <%= image_tag @listing.motorhome.uploaded_image, class: 'avatar' %>
      $<%= @listing.price %>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>
<div>
</div>
