

<p id="notice"><%= notice %></p>

<h3>Your Bookings</h3>
<div class="align">
  <table>
    <thead>
      <tr>
        <th>Listing</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @claims.each do |claim| %>
        <tr>
          <td><%= image_tag claim.listing.motorhome.uploaded_image, class: 'avatar' %></td>
          <td>
            <% if claim.approved == true %>
              Your Booking Was Approved!
              <%= link_to %>
            <% else %>
              Your Booking Is Waiting For Approval...
            <% end %>
          </td>
          <td><%= link_to 'Cancel Booking', claim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div class="align-no-bg">
<h1>Bookings</h1>
</div>
<div class="align-no-bg">
<table>
  <thead>
    <tr>
      <th></th>
      <th>Listing</th>
      <th>User</th>
      <th>Booking From:</th>
      <th>Booking To:</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claims.each do |claim| %>
      <% if current_user.id == claim.user_id %> 
      <tr>
        <td><%= link_to (image_tag claim.listing.motorhome.uploaded_image, class: 'avatarsmall'), claim.listing.motorhome %></td>
        <td><%= link_to claim.listing.motorhome.make, claim.listing.motorhome  %></td>
        <td><%= link_to claim.user.profile.name, claim.user.profile %></td>
        <td><%= claim.listing.start_time %></td>
        <td><%= claim.listing.end_time %></td>
        <td><%= claim.approved %></td>
        <td><%= link_to 'Show', claim %></td>
        <td><%= link_to 'Edit', edit_claim_path(claim) %></td>
        <td><%= link_to 'Delete', claim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>