<h3> Search for Listings</h3>
<div class="align">
  <%= form_tag listings_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search]%>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</div>


<br>

<div class="child-page-listing">
  <div class="grid-container">
    <% @listings.each do |listing| %>
      <article id="3685" class="motorhome-listing">
        <a class="motorhome-title" href=<%= "listings/#{listing.id}" %> > $<%= listing.price %></a>

        <div class="motorhome-image">
            <%= image_tag listing.motorhome.uploaded_image %>
        </div>

      </article>
      <% end %>
    <div>
</div>
