<h3>Search</h3>
<div class="align-no-bg">
<%= form_tag({}, {:method => :get}) do %>
    <table>
      <thead>
        <tr>
          <th>Date from</th>
          <th>Date to</th>
          <th>Max Price</th>
          <th>Min Beds</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= date_field_tag :start_time, "#{params[:start_time]}", :onchange => "this.form.submit();" %>
          </td>
          <td>
            <%= date_field_tag :end_time, "#{params[:end_time]}", :onchange => "this.form.submit();" %>
          </td>
          <td>
            <%= number_field_tag :max_price, "#{params[:max_price]}", :onchange => "this.form.submit();", min: 100, max: 5000, step: 100 %>
          </td>
          <td>
            <%= select_tag :min_beds, options_for_select(0..6, params[:min_beds]), :onchange => "this.form.submit();" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>


<br>

<div class="child-page-listing">
  <div class="grid-container">
    <% @listings.each do |listing| %>
      <article id="3685" class="motorhome-listing">
        <a class="motorhome-title" href=<%= "listings/#{listing.id}" %> > $<%= listing.price %></a>

        <div class="motorhome-image">
            <%= image_tag listing.motorhome.uploaded_image %>
        </div>

      </article>
      <% end %>
    <div>
</div>
