<h3> Search for Listings</h3>
<div class="align">
  <%= form_tag({}, {:method => :get}) do %>
    <p>
      <%= text_field_tag :search, params[:search], onchange: "this.form.submit();", placeholder: "Location"%>
      <%= date_field_tag :start_time, "#{params[:start_time]}", onchange: "this.form.submit();" , placeholder: "Date from" %>
      <%= date_field_tag :end_time, "#{params[:end_time]}", onchange: "this.form.submit();", placeholder: "Date to" %>
      <%= number_field_tag :max_price, "#{params[:max_price]}", onchange: "this.form.submit();", placeholder: "Max Price", min: 100, max: 5000, step: 100, class: 'max_price_field' %>

    </p>
  <% end %>
</div>

<div class="align">
  <br>
</div>

<div class="child-page-listing">
  <div class="grid-container">
    <% @listings.each do |listing| %>
      <article id="3685" class="motorhome-listing">
        <a class="motorhome-title" href=<%= "listings/#{listing.id}" %> > $<%= listing.price %></a>

        <div class="motorhome-image">
            <%= link_to image_tag listing.motorhome.uploaded_image %>
        </div>

      </article>
      <% end %>
    <div>
</div>
