<!DOCTYPE html>
<html>
  <head>
    <title>Care2share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

<div class="nav-container">
  <h3><a href="/" class="nav-item">care2share</a></h3>
  <div class="spacer">&nbsp</div>
  <% if user_signed_in? %><a href="/claims" class="nav-item" >My Bookings</a><% else %><div class="spacer">&nbsp</div><% end %>
  <% if user_signed_in? %>
    <div class="dropdown">
      <button class="dropbtn">Dashboard &#9660</button>
      <div class="dropdown-content">
        <a href="/motorhomes" class="nav-item">My Motorhomes</a>
        <a href="/listings" class="nav-item" >My Listings</a>
        <a href="/profiles" class="nav-item" >My Profile</a>
          <%= link_to('Edit Account', edit_user_registration_path) %>
          <%=link_to('Logout', destroy_user_session_path, method: :delete)%>
      </div>
    </div>
    <% if current_user.profile != nil %>
      <a href="/profiles/<%= current_user.profile.id %>">
        <%= image_tag current_user.profile.avatar, class: 'nav-pic' %>
      </a>
    <% end %>
  <% else %>
    <a class="nav-item">  <%=link_to('Sign Up', new_user_registration_path)%> </a>
    <a class="nav-item"> <%=link_to('Login', new_user_session_path) %> </a>
  <% end %>
</div>

    <%= yield %>
  </body>
</html>
