<!DOCTYPE html>
<html>
  <head>
    <title>Care2share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>


<div class="nav-container">
  <a href="/" class="nav-item"> <img src="/img/practice_logo.png" width="65" height="75"></a>
  <a href="/" class="nav-item">care2share</a>
  <a href="/listings" class="nav-item" >Listings</a>
  <a href="/profiles" class="nav-item" >Profile</a>
  <a href="/motorhomes" class="nav-item">Motorhomes</a>


</div>

    <%= yield %>
  </body>
</html>
